*{
    border: 0;
    font-size: 16px;
    
}
body{
    padding-top: 2rem;
    background-color: #111;
    color: white;
    min-height: 100vmin;
    position: relative;
    text-align: center;
    
}

.box{
    margin: 10px;
    padding: 10px;
    background-color: #555;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: center;
}
button{
    padding: 10px;
    background-color: red;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.5s;
  
}

button:hover{
    background-color: rgba(255, 0, 0, 0.499);
    color: black;
    transform: scale(1.1); 
}
footer{
    margin-top: 10rem;
    font-size: 0.2rem;
}
a{
    color: rgba(255, 0, 0, 0.59);
}
a:hover,a:focus,a:active{
    color: red;
}