
body{
    padding-top: 1rem;
    background-color: #111;
    color: white;
    min-height: 100vmin;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.box{
    margin: 10px;
    padding: 10px;
    background-color: #555;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: center;
}
input{
    border: none;
}


button{
    padding: 10px;
    border: 1px solid red;
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.5s;
    color: white;
    margin-top: 1rem;
}
nav > button{
    padding:5px 15px;
}

button:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.1); 
}
footer{
    margin-top: 10rem;
    font-size: 0.8rem;
}
a{
    color: red;
}
.hidden{
    display: none;
}
section{
    display: none;
}
.tutorial{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    line-height: 1.5rem;
}

#mode{
    background-color: yellow;
    color: black;
    width:fit-content;
    margin: 0 auto;
    padding: 0.1rem 1rem;
    border-radius: 5px;
    font-weight: 900;
}